{% extends "base.html" %}


{% block title %}
    TR in Blocks
{% endblock title %}


{% block maincontent %}
<section class="bg-red-700 pt-5">
    <div class="bg-red-700 px-10 py-20 w-full flex items-center justify-center h-10">
      <form method="GET" action="{% url 'usearch' %}">
        <div class="max-w-xl">
          <div class="flex space-x-1 items-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="text-white text-lg font-semibold">Please enter something</p>
          </div>
          <div class="flex space-x-4">
            <div class="flex rounded-md overflow-hidden w-full">
              <input type="text" class="w-full rounded-md rounded-r-none text-black" name="query" id="search-input" />
              <button class="bg-black text-white px-6 text-lg font-semibold py-4 rounded-r-md">Go</button>
            </div>
          </div>
          <div class="relative">
            <select class="bg-white px-4 py-2 rounded-md rounded-l-none w-full appearance-none text-black">
              <option value="">All Categories</option>
              <option value="Islam">Islam</option>
              {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == category_selected %}selected{% endif %}>{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="relative">
            <select class="bg-white px-4 py-2 rounded-md rounded-l-none w-full appearance-none text-black">
              <option value="">All citys</option>
              <option value="Istanbul">Istanbul</option>
              {% for city in city %}
                <option value="{{ city.id }}" {% if city.id == city_selected %}selected{% endif %}>{{ city.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </form>
    </div>
    
    
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        
        <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Tourist attraction</h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-white">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>
    </div> 
    <div class="grid gap-8 lg:grid-cols-2">
        {% if results %}
        {% for item in results %}
            
                <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-white-800 dark:border-gray-700">
                    <div class="flex justify-between items-center mb-5 text-gray-500">
                        <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                            <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path>
                            </svg>
                            {{ item.category }}
                        </span>
                        
                    </div>
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-red-700 dark:text-red-700">
                        <a href="{% url 'detail' item.id %}">{{ item.name }}</a>
                    </h2>
                    <p class="mb-5 font-light text-gray-500 dark:text-gray-400">{{ item.description1|truncatechars:200 }}</p>
                    <div class="flex justify-between items-center">
  
                        <a href="{% url 'detail' item.id %}" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline text-red-700">
                            Read more
                            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                </article> 
            
        {% endfor %}
    {% else %}
        <p class="text-black">No results found.</p>
    {% endif %}
    </div>  
  </div>
  </section>
{% endblock maincontent %}
    



resultContainer

const flip = false; // whether to flip the webcam
webcam = new tmImage.Webcam(375, 400, flip); // width, height, flip
await webcam.setup({ facingMode: "environment" });
await webcam.play();
await webcam.setup({ facingMode: "environment" });
window.requestAnimationFrame(loop);

var searchBar = document.getElementById("search-input");
searchBar.value = predictedClassName;
resultContainer.innerHTML = predictedClassName;
console.log("Predicted class:", predictedClassName); // Log the predicted class name to the console